body{
    background-color: teal;
    width: auto;
}
/* here is an external css for the paragraph in the index page*/
p{
    background-color: black;
    color: white;
}
a{
    color: hsl(120, 96%, 52%);
}
.bgc{
    background-color: blue;
}
.pal{
    color: red;
}